// Keen Concepts overrides and additional styles.


.kc-modal {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	z-index: 2014;

	width: 0;
	height: 0;
	opacity: 0;

	-webkit-transition: all 0.4s 0.1s;
	transition: all 0.4s 0.1s;


	.kc-modal-content {
		background-color: #fff;
		position: absolute;
		z-index: 2001;
		width: 405px;
		height: 380px;
		border-radius: 8px 8px 4px 4px;
		padding: 8px 15px;
		box-shadow: 0px 1px 1px #ccc;

		input, textarea {
			color: #000;
		}

		textarea {
			height: 4em;
			width: 100%;
			margin-top:1em;
		}

	}

	// overlay
	&::before {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2000;

		width: 100%;
		height: 100%;

		background-color: #000;
		background: rgba( 0,0,0, 0.6);
		// opacity: 0.1;

		content: '';

		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;

		/* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
		pointer-events: none;
	}


	&.open {

		width: 100%;
		height: 100%;
		opacity: 1;
		z-index: 2001;
		opacity: 1;

		& > .kc-modal-content {
			top: 50%;
			left: 50%;
		}

		&:before {
			height: 100%;
			width: 100%;
			opacity: 0.6;
			pointer-events: auto;
		}
	}
}


.kc-icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kc-icon-close::before {
	content: "x";
}

.kc-icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	float: right;
	line-height: 3;
	cursor: pointer;
	color: #000;
}

input {

	padding: 10px;
	width: 100%;
	border: 2px solid #b3b3b3;
	background: transparent;
	// color: #b09a86;
	color: #c3c3c3;
	font-size: 1.8em;

	&:focus {
		outline: none;
		border-color: #b3b3b3;
	}
}





